$backdrop: rgba(240,240,240,1)
$gray: rgba(200,200,200,1)
$divider: rgba(240,240,240,1)
$green: rgb(5,210,34)
$red: rgb(200,5,34)
$font-red: lighten($red,3)
$lighter-gray: darken(white, 3)

body
  margin: 0
  background: $backdrop

@mixin rounded($size)
  -moz-border-radius: $size
  border-radius: $size

@mixin dropshadow($color)
  box-shadow: 0px 2px 4px $color

body .finish
  background: lighten($lighter-gray, 1)

.note
  margin: 5px 5px
  font-size: 16px
  color: darken($gray, 20)
  .emph
    color: $font-red
    font-weight: bold

.finish
  p
    color: darken($gray, 15)
.hero
  p
    color: darken($gray, 5)

.hero, .finish
  background: url('../images/banner.png')
  background-size: cover
  background-position: right center
  background-repeat: no-repeat
  background-color: white
  padding: 35px 0 20px 0
  h1
    color: $font-red
    margin: 0
    font-size: 56px
  p
    font-size: 23px
    margin-top: 0
    margin-left: 3px

button
  @include rounded(5px)
  @include dropshadow( rgba(0,0,0,0.4) )
  border: none

.answer-and-dice
  cursor: pointer
  float: right
  width: 320px

.dice
  width: 50px
  height: 50px
  margin-left: 15px
  box-shadow: 0 0 3px #666, inset -1px -3px 0px rgba(0,0,0,0.5), inset 1px 2px 1px rgba(255,255,255,0.8), 0px 2px 4px rgba(0,0,0,0.4)
  &:hover
    background-color: rgb(240,15,54)
  &:active
    background-color: rgb(180,0,0)
    box-shadow: 0 0 3px #666, 0px 2px 4px rgba(0,0,0,0.4)

  float: right

  background-color: $red
  color: white
  text-align: center
  position: relative
  .dieface
    position: relative
    height: 100%
    width: 100%
    padding: 0
    margin: 0
    background-size: contain
    background-repeat: no-repeat
    background-position: center center
    background-image: url("../images/dice1.png")
  .dieface1
    background-image: url("../images/dice1.png")
  .dieface2
    background-image: url("../images/dice2.png")
  .dieface3
    background-image: url("../images/dice3.png")
  .dieface4
    background-image: url("../images/dice4.png")
  .dieface5
    background-image: url("../images/dice5.png")
  .dieface6
    background-image: url("../images/dice6.png")


body
  padding: 0

.options
  margin: 15px 0 15px 15px

.instruction
  width: 100%
  background: $lighter-gray
  padding: 0
  padding: 25px 0

  .close
    display: none
    font-size: 14px
    width: 100px
    height: 25px
    float: right
    margin: 3px 0px 10px 0
    background-color: $green
    color: white
    box-shadow: 0 0 3px #666, inset -1px -2px 0px rgba(0,0,0,0.2), inset 1px 2px 1px rgba(255,255,255,0.5), 0px 2px 4px rgba(0,0,0,0.4)
    &:hover
      background-color: lighten($green, 2)
    &:active
      background-color: darken($green, 2)
      box-shadow: 0 0 3px #666, 0px 2px 4px rgba(0,0,0,0.4)

  overflow: hidden

  -webkit-transition: 0.5s
  -moz-transition: 0.5s
  -o-transition: 0.5s
  transition: 0.5s
  // max-height: 45px

  &.fadeout
    max-height: 0px

.divider
  background: $divider
  height: 10px

.question, .instruction
  position: relative
  padding: 20px 0
  margin: 0
  clear: both

  .source, .sub
    color: #888
    font-size: 10px
    margin: 2px

.label, .instruction p
  font-size: 18px
  margin: 2px
.message
  font-size: 18px

.label, .message
  position: relative
  padding-top: 5px
  float: left
  width: 260px
  height: 45px

.autoroll-select select
  background: transparent
  width: 290px
  font-size: 16px
  line-height: 1
  border: 0
  border-radius: 0
  -webkit-appearance: none
  &:focus
    outline-width: 0
  height: 50px


.autoroll-select
  padding: 0 10px
  margin-bottom: 4px
  width: 275px
  height: 34px
  overflow: hidden
  background: url("../images/downarrow.png") no-repeat right #ddd
  background-size: 32px
  background-position: right center
  border: 1px solid #ccc


.answer, .autoroll-select
  &:disabled
    cursor: pointer
  @include rounded(5px)
  @include dropshadow( rgba(0,0,0,0.075) )

  float: right

  height: 50px
  border: none
  background-color: white
.answer
  width: 200px
  padding: 0 15px

.license
  margin: 50px 0 10px 0
  font-size: small
  color: #BBB
  text-align: center

.autoroll-button
  box-shadow: none
  border: 2px solid $gray
  padding-left: 4px
  position: absolute
  right: 305px
  top: 32.5px
  width: 25px
  height: 25px
  background: none
  font-weight: bold
  color: $gray
  font-size: 16px
  display: none

#finished
  margin-top: 20px
  .container
    padding-top: 10px
