@media all and (max-width: 600px)
  body

    .container
      width: 100%

    .instruction
      p
        padding: 25px 15px
      .close
        margin: 15px
    .questions
      .autoroll
        width: 90%
      .label, .message
        width: 90%
        float: none
        padding-left: 15px
      .autoroll-select
        width: 86%
        margin-right: 10px
      .answer-and-dice
        margin-right: 10px
        width: 95%
        .answer
          width: 70%

    .hero
      background-size: contain
      background-position: top center
      .container
        h1, p
          margin-top: 45px
          padding: 0px 15px
        .options
          margin: 15px



.container
  width: 600px
  margin: auto
  padding: 0