<div class="hero">
  <div class="container">
    <h1>Statistical 404</h1>
    <p>Please go <a href="/">here</a></p>
  </div>
  <div style="clear:both"></div>
</div>
<div style="clear:both"></div>
<div class="license"><a href='/'>Home Page</a> | <a href='http://www.youtube.com/watch?v=6aC5IpTuelE'>Project Video</a> | <a href='http://hackerspace.govhack.org/?q=groups/statistical-me'>GovHack Project Page</a> | <a href='https://github.com/govhack2/goshitsme'>Source Code on GitHub</a></div>
<div class="license">Creative Commons Attribution 2.5 Australia. Based on Australian Bureau of Statistics Data (2011).</div>
