<!DOCTYPE html>
<html>
  <head>
    <title>Who Dat Stat? Gosh it's me!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Sound files -->
    <audio id="dice1" src="sounds/dice1.mp3"></audio>
    <audio id="dice2" src="sounds/dice2.mp3"></audio>
    <audio id="laugh1" src="sounds/laugh1.mp3"></audio>
    <audio id="laugh2" src="sounds/laugh2.mp3"></audio>
    <audio id="laugh3" src="sounds/laugh3.mp3"></audio>
    <audio id="laugh4" src="sounds/laugh4.mp3"></audio>
    <audio id="laugh5" src="sounds/laugh5.mp3"></audio>
    <audio id="laugh6" src="sounds/laugh6.mp3"></audio>
    <audio id="random1" src="sounds/random1.mp3"></audio>
    <audio id="random2" src="sounds/random2.mp3"></audio>
  </head>
  <body>
    <div class="hero">
      <div class="container">
        <h1>Gosh! It's Me!</h1>
        <p>See how long it takes to randomly find someone just like you and discover out just how unique you are.</p>
      </div>
      <div style="float: right">
        Sound kind:
        <button type="button" class="btn" id="soundChoice">Dice</button>
      </div>
    </div>
    <div class="instruction">
      <button type="button" class="close">Okay!</button>
      <p>Step one, press the reroll button until you match your age!</p>
    </div>
      <div class="questions">
        <% (0..5).each do |i| %>
          <div class="question">
            &nbsp;
            <div class="label">
              My age: blah blah
            </div>
            <input class="answer" id="appendedInputButton" type="text" />
            <button class="dice">
              <div class="dieface">&nbsp;</div>
            </button>
            <div style="clear:both;"></div>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>