---
title: goshitsmes.com
---

<div class="welcome">
  <h1>goshitsme.com</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
