---
title: Who Dat Stat? Gosh it's me!
---

<!DOCTYPE html>
<html>
  <head>
    <title>Who Dat Stat? Gosh it's me!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="hero-unit">
      <h1>Gosh! It's Me!</h1>
      <p>See how long it takes to randomly find someone, just like you and Find out just how unique you are.</p>
    </div>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      Step one, press the reroll button until you match your age!
    </div>
    <div class="container-fluid questions">
      <hr />
      <div class="row">
        <div class="span6">My age:</div>
        <div class="span3">
          <div class="input-append">
            <input class="span2" id="appendedInputButton" type="text" />
            <button class="btn dice" type="button">&#x2680;</button>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="span6">Beard length:</div>
        <div class="span3">
          <div class="input-append">
            <input class="span2" id="appendedInputButton" type="text" />
            <button class="btn dice" type="button">&#x2681;</button>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="span6">Distance to nearest Victorian micro brewery:</div>
        <div class="span3">
          <div class="input-append">
            <input class="span2" id="appendedInputButton" type="text" />
            <button class="btn dice" type="button">&#x2682;</button>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="span6">Eye color:</div>
        <div class="span3">
          <div class="input-append">
            <input class="span2" id="appendedInputButton" type="text" />
            <button class="btn dice" type="button">&#x2683;</button>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="span6">Education level:</div>
        <div class="span3">
          <div class="input-append">
            <input class="span2" id="appendedInputButton" type="text" />
            <button class="btn dice" type="button">&#x2684;</button>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="span6">Years at current job:</div>
        <div class="span3">
          <div class="input-append">
            <input class="span2" id="appendedInputButton" type="text" />
            <button class="btn dice" type="button">&#x2685;</button>
          </div>
        </div>
      </div>
      <hr />
    </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
