<!DOCTYPE html>
<html>
  <head>
    <title>STATISTICALME.COM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Sound files -->
    <audio id="dice1" src="sounds/dice1.mp3"></audio>
    <audio id="dice2" src="sounds/dice2.mp3"></audio>
  </head>
  <body>
    <div class="hero">
      <div class="container">
        <h1>STATISTICALME.COM</h1>
        <p>See how long it takes to randomly find someone just like you and discover just how unique you are.</p>
      </div>
      <div style="clear:both"></div>
    </div>
    <div class="instruction">
      <div class="container">
        <button type="button" class="close">OK</button>
        <p>Click the dice until you find yourself.</p>
      </div>
    </div>
    <div class="container questions">
    </div>
    <div style="clear:both"></div>
    <div class="license">Creative Commons Attribution 2.5 Australia. Based on Australian Bureau of Statistics Data (2011).</div>
  </body>

  <script id="question-template" type="text/x-handlebars-template">
    <div class="question" id="question-{{id}}">
      <div class="label">
        {{desc}}
        <div class="source" style="display:none"></div>
      </div>
      <div class="message" style='display:none'>Tired of clicking? Choose your desired value and we'll roll for you.</div>
      <div class="answer-and-dice">
        <button class="dice">
          <div class="dieface">&nbsp;</div>
        </button>
        <input class="answer" id="appendedInputButton" type="text" disabled="disabled" />
      </div>
      <div class="autoroll-select" style='display:none'>
        <select class='answer-selector'>
        </select>
      </div>

    </div>
  </script>

</html>
