<!DOCTYPE html>
<html>
  <head>
    <title>Who Dat Stat? Gosh it's me!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="hero-unit">
      <h1>Gosh! It's Me!</h1>
      <p>See how long it takes to randomly find someone, just like you and Find out just how unique you are.</p>
    </div>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      Step one, press the reroll button until you match your age!
    </div>
    <div class="container-fluid">
      <hr />
      <div class="row">
        <div class="span6">My age:</div>
        <div class="span3">
          <div class="input-append">
            <input class="span2" id="appendedInputButton" type="text" />
            <button class="btn" type="button">Reroll</button>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="span6">My age:</div>
        <div class="span3">
          <div class="input-append">
            <input class="span2" id="appendedInputButton" type="text" />
            <button class="btn" type="button">Reroll</button>
          </div>
        </div>
      </div>
      <hr />
    </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>